.container {
    width: auto;
    max-width: 480px;
}

.header a,
.header a:visited {
    color: #6c757d;
}

.header a:active {
    color: #3C3A3A;
}

.is_daytime {
    background: #F3C552;
    color: #3C3A3A;
}

.is_not_daytime {
    background: #63628D;
    color: #EEEEEE;
}

